<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /shoe-seller/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

</IfModule>

<IfModule !mod_rewrite.c>
DirectoryIndex index.php
</IfModule>
